{% load thumbnail %}
<script>
function toggle_{{ widget.name }}(inputName) {
	var divElement = document.querySelector(".input-update-"+inputName)
	var hidden = true
	if (window.getComputedStyle(divElement).display === "none") {
		hidden = false
	}
	divElement.style = hidden ? "display:none" : "";
};
</script>

<div>
	{% if widget.is_initial %}
		{% thumbnail widget.value "x90" format="PNG" as im %}
		<div>
			<a href="{{ widget.value.url }}">
		    	<img src="{{ im.url }}"  class="img-fluid img-thumbnail">
			</a>
		</div>
	    {% endthumbnail %}
			
		{% if not widget.required %}
		<div class="d-inline-block mr-1">
			<label for="{{ widget.checkbox_id }}">
				<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
				{{ widget.clear_checkbox_label }}
			</label>
		</div>
		{% endif %}
		<div class="d-inline-block mr-1">
			<label>
				<input type="checkbox" onChange="toggle_{{ widget.name }}('{{ widget.name }}')" class="update-checkbox">
				{{ widget.input_text }}
			</label>
		</div>
	<div class="input-update-{{ widget.name }}" style="display:none">
	{% else %}
	<div class="input-update-{{ widget.name }}">
	{% endif %}
		<input type="{{ widget.type }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
	</div>
</div>
