{% extends "http_error_base.html" %}

{% block title %}
Error
{% endblock title %}

{% block contenido %}
<div class="col-md-12 text-center">
	<div class="card card-body m-4">
		<h1 class="m-0"><i class="icon ion-md-close-circle-outline text-danger"></i></h1>
		<h2>Error</h2>
		<div class="lead">{{ errmsg }}</div>
		<hr>
		<p><a id="btnRegresar" class="btn btn-primary btn-lg" href="javascript:window.history.back()" role="button">Regresar</a></p>
	</div>
</div>
{% endblock contenido %}