{% load custom_tags %}
<div class="d-flex justify-content-between">
    <div>
        <div class="text-muted">
            <b>{{ objects_count }}</b> elementos
        </div>
    </div>
    
    <div>
        <nav class="text-right">
            <ul class="pagination m-0">
                {% if list.paginator.num_pages > 1 %}
                    {% if list.has_previous %}
                        <li class="page-item"><a class="page-link text-primary" data-toggle="tooltip" title="Primer página" href="{% append_to_get page=1 %}">&laquo;</a></li>
                        <li class="page-item"><a class="page-link text-primary" data-toggle="tooltip" title="Anterior" href="{% append_to_get page=list.previous_page_number %}"><span aria-hidden="true"><i class="icon ion-md-arrow-dropleft"></i></span></a></li>
                    {% endif %}
                    
                    {% for page in page_range %}
                        <li class="page-item {% if page == list.number %} active{% endif %}"><a class="page-link {% if page != list.number %} text-primary{% endif %}" href="{% append_to_get page=page %}">{{ page }}</a></li>
                    {% endfor %}

                    {% if list.has_next %}
                        <li class="page-item">
                            <a class="page-link text-primary" data-toggle="tooltip" title="Siguiente" href="{% append_to_get page=list.next_page_number %}"><span aria-hidden="true"><i class="icon ion-md-arrow-dropright"></i></span></a>
                        </li>
                        <li class="page-item"><a class="page-link text-primary" data-toggle="tooltip" title="Última página" href="{% append_to_get page=list.paginator.num_pages %}">&raquo;</a></li>
                     {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
